/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom icons */
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?woe0yi');
  src:  url('../fonts/icomoon.eot?woe0yi#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?woe0yi') format('truetype'),
    url('../fonts/icomoon.woff?woe0yi') format('woff'),
    url('../fonts/icomoon.svg?woe0yi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak-as: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-checkmark1:before {
  content: "\e900";
}
.icon-cancel:before {
  content: "\e901";
}
.icon-notice:before {
  content: "\e912";
}
.icon-wallet:before {
  content: "\e902";
}
.icon-checkmark2:before {
  content: "\e903";
}
.icon-cancel1:before {
  content: "\e904";
}
.icon-trashcan:before {
  content: "\e905";
}
.icon-smiley:before {
  content: "\e906";
}
.icon-sad:before {
  content: "\e907";
}
.icon-medal:before {
  content: "\e908";
}
.icon-cord:before {
  content: "\e91a";
}
.icon-magnifier:before {
  content: "\e909";
}
.icon-tools:before {
  content: "\e90a";
}
.icon-screwdriver:before {
  content: "\e90b";
}
.icon-paint:before {
  content: "\e90c";
}
.icon-hammer1:before {
  content: "\e90d";
}
.icon-brush:before {
  content: "\e90e";
}
.icon-abacus:before {
  content: "\e90f";
}
.icon-printer:before {
  content: "\e910";
}
.icon-ruler:before {
  content: "\e911";
}
.icon-home:before {
  content: "\e913";
}
.icon-home2:before {
  content: "\e914";
}
.icon-home3:before {
  content: "\e915";
}
.icon-office:before {
  content: "\e916";
}
.icon-pencil:before {
  content: "\e918";
}
.icon-droplet:before {
  content: "\e919";
}
.icon-paint-format:before {
  content: "\e917";
}
.icon-paste:before {
  content: "\e92d";
}
.icon-calculator:before {
  content: "\e940";
}
.icon-lifebuoy:before {
  content: "\e941";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-pushpin:before {
  content: "\e946";
}
.icon-printer1:before {
  content: "\e954";
}
.icon-user:before {
  content: "\e971";
}
.icon-users:before {
  content: "\e972";
}
.icon-user-plus:before {
  content: "\e973";
}
.icon-user-minus:before {
  content: "\e974";
}
.icon-user-check:before {
  content: "\e975";
}
.icon-wrench:before {
  content: "\e991";
}
.icon-hammer:before {
  content: "\e996";
}
.icon-bug:before {
  content: "\e999";
}
.icon-point-right:before {
  content: "\ea04";
}
.icon-warning:before {
  content: "\ea07";
}
.icon-notification:before {
  content: "\ea08";
}
.icon-question:before {
  content: "\ea09";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-blocked:before {
  content: "\ea0e";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-spell-check:before {
  content: "\ea12";
}

/* icons */
.icon {
  display: inline-block;
  vertical-align: top;
}
.is-included .icon,
.is-included.icon {
  color: rgb(151, 192, 91);
}

.is-excluded .icon,
.is-excluded.icon {
  color: rgb(226, 81, 65);
}

/* general styles */
* {
  box-sizing: border-box;
}

body {
  font-size: 17px;
  line-height: 1.6;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 0 0  1px #000;
  background: url(../images/bg-osmd.jpg) 50% 50%;
  background-size: cover;
}

@media (max-width: 940px) {
  body {
    font-size: 15px;
    line-height: 1.4;
  }
}

body:after {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  opacity: .5;
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAG0lEQVQYV2P8////ZkZGRl8GJMCIzIGxKRQEAJpzBAZnc4lJAAAAAElFTkSuQmCC);
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}

a,
a:visited,
a:active {
  color: #fff;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.wrapper {
  max-width: 1200px;
  padding: 50px;
  margin: 0 auto;
}

@media (max-width: 940px) {
  .wrapper {
    padding: 30px 25px;
  }
}

@media (max-width: 479px) {
  .wrapper {
    padding: 30px 15px;
  }
}

/* intro */
.intro {
  padding: 30px;
  margin: 0 0 50px;
  text-align: center;
  color: #fff;
  background: rgba(0,0,0,.7);
  border: 1px solid #fff;
}

@media (max-width: 940px) {
  .intro {
    padding: 15px;
  }
}

.intro h1 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold;
  margin: 0 0 20px;
}

@media (max-width: 940px) {
  .intro h1 {
    font-size: 18px;
    line-height: 1.4;
    margin: 0 0 10px;
  }
}

/* table */
.table {
  display: flex;
  flex-direction: column;
  color: #fff;
  margin: 0 0 50px;
  border: 1px solid #fff;
  background: rgba(0,0,0,.7);
}

@media (max-width: 940px) {
  .table {
    background: none;
    border: none;
  }
}

.t-head {
  display: flex;
}
@media (max-width: 940px) {
  .t-head {
    border: 1px solid #fff;
    background: rgba(0,0,0,.9);
  }
}

.t-body {
  display: flex;
  flex-direction: column;
}

.tr {
  display: flex;
}
.t-body > .tr {
  border: 1px solid #fff;
  border-width: 1px 0 0;
}
.t-body .tr:nth-child(2n) {
  background: rgba(0,0,0,.9);
}
@media (max-width: 940px) {
  .t-body > .tr {
    flex-wrap: wrap;
    margin-top: 40px;
    border-width: 6px 1px 1px;
    background: rgba(0,0,0,.9);
  }
}

.th-extra,
.td-extra {
  display: flex;
  border-left: 1px solid #c0c0c0;
}
.th-extra [class*=th-0] {
  text-align: center;
}
.td-extra .tr-head {
  display: none;
}
@media (max-width: 940px) {
  .th-extra,
  .td-extra [class*=td-0] .note {
    display: none;
  }

  .td-extra {
    width: 100%;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
  }
  .td-extra .tr-head {
    display: table-row;
  }
  .td-extra .tr {
    display: table-row;
    border-top: 1px solid #fff;
  }
  .td-extra [class*=th-0],
  .td-extra [class*=td-0] {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}

[class*=th-0],
[class*=td-0] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-left: 1px solid #c0c0c0;
}
[class*=th-0]:first-child,
[class*=td-0]:first-child {
  border: 0;
}
.th-title,
.td-title {
  align-items: flex-start;
}
@media (max-width: 940px) {
  [class*=th-0],
  [class*=td-0]{
    padding: 5px;
  }
}

/* title cell */
.th-01,
.td-01 {
  flex-grow: 2;
}
@media (max-width: 940px) {
  .th-01,
  .td-01 {
    width: 100%;
  }
}

/* icon cell */
.th-02,
.th-05,
.td-02,
.td-05 {
  width: 80px;
  min-width: 80px;
  flex-basis: 80px;
}
@media (max-width: 940px) {
  .th-02,
  .th-05,
  .td-02,
  .td-05 {
    width: 60px;
    min-width: 60px;
    flex-basis: 60px;
  }
}

/* price cell */
.th-03,
.th-04,
.th-06,
.td-03,
.td-04,
.td-06 {
  width: 116px;
  min-width: 116px;
  flex-basis: 116px;
}
@media (max-width: 940px) {
  .th-03,
  .th-04,
  .th-06,
  .td-03,
  .td-04,
  .td-06 {
    width: 80px;
    min-width: 80px;
    flex-basis: 80px;
  }
}

.table .icon {
  vertical-align: middle;
}

.t-body > .tr:nth-child(2n+1) .td-01 {
  background: rgba(246, 203, 79, .15);
}
@media (max-width: 940px) {
  .t-body > .tr:nth-child(2n+1) .td-01 {
    background: rgba(0,0,0,.9);
  }
}

/*.table .td-02 {
  background: rgba(246, 203, 79, .15);
}*/
.table .th-02,
.table .th-03,
.table .th-04,
.table .td-02,
.table .td-03,
.table .td-04,
.table .th-05,
.table .th-06,
.table .td-05,
.table .td-06  {
  background: rgba(151, 192, 91, .2);
}
/*.table .th-05,
.table .th-06,
.table .td-05,
.table .td-06 {
  background: rgba(226, 81, 65, .25);
}*/

.table .td-title,
.table .th-title {
  padding-left: 25px;
  padding-right: 25px;
}

@media (max-width: 940px) {
  .table .th-title,
  .table .td-title {
    padding: 15px;
  }

  .table .th-title {
    padding-top: 15px;
  }
}

.table .td-price {
  text-align: center;
  white-space: nowrap;
}

.table .td-icon {
  text-align: center;
  font-size: 34px;
  line-height: 1;
  vertical-align: middle;
}

.table .total-row .td-title {
  padding-right: 15px;
}

.note {
  font-size: 15px;
  line-height: 1.3;
}

@media (max-width: 479px) {
  .note {
    font-size: 14px;
  }
}

.question {
  margin: 10px 0 0;
  padding: 3px 0 0 0;
  font-size: 14px;
  border-top: 1px solid rgba(255,255,255,.5);
}

.question .icon {
  font-weight: bold;
}

@media (max-width: 479px) {
  .question {
    margin: 7px 0 -5px;
  }
}
